* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  padding: 2%;
  text-align: center;
  background: antiquewhite;
}

input {
  border-radius: 5%;
  font-size: 1.1rem;
  width: 30%;
  padding-left: 10px;
  vertical-align: middle;
}

button {
  font-size: .9rem;
  vertical-align: middle;
}

label {
  width: auto;
  opacity: .4;
  text-align: right;
  vertical-align: middle;
  font-variant-caps: all-small-caps;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: oblique;
}

.wrapper {
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  margin: 0 auto;
}

.top { height: 10vh; }
.bottom {
  height: 65%;
  display: none;
  padding: 10px 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display:flex;
  flex: 1;
  /* align-content: center;
  align-items: center;
  justify-content:center; */
}

.col {
  /* width:10vw;
  height:10vw; */
  border: 1px solid black;
}

.rowIndxNum {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  font-size: 1rem;
}

.colIndxNum {
  text-align: center;
  border-right:0;
  border-left:0;
  border-bottom:0;
  opacity: 0;
  font-weight: 600;
}

.blank {
  opacity: 0;
  border: none;
}

.brick {
  background: firebrick;
}

.water {
  background: aqua;
}

.magicWall {
  background: #00000099;
}